@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

img {
    max-width: 100%;
}

.titulo-h1{
    display: flex;
    width: 5.8rem;
    color:  #053477 ;
    justify-content: flex-start;
    padding: 10px;
}

.img-fondo{
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}



.img-logo{
    width: 20rem;
    padding-left: 20rem;
}

nav a{
    color:rgb(46, 101, 202);
    text-decoration: none;
    flex-direction: row;
}

nav a:hover{
    background-color: rgb(36, 138, 221);
    color: white;
}


.nuestro-equipo h3{
    width: 2.5rem;
    color:#F75F1C;
}

.nuestro-equipo p{
    width: 1.8rem;
    color: #053477;
}